flask
gunicorn
python-dotenv
requests
cryptography
pyOpenSSL
pyYAML
pandas
openpyxl
cython
python-pdf
pdfkit
validator
pyodbc
xlrd
paramiko
python-gnupg
sendgrid
Pillow
pybase64
bcrypt
flask-pymongo